    @font-face {
    font-family: Pacifica;
    src: url("../fonts/pacificaconreg.ttf");
}

@font-face {
    font-family: Dinlight;
    src: url("../fonts/dinlight.ttf");
}

body {
    margin: 0 0 0 0;
    overflow: hidden;
}

#services-page {
    margin: 0 0 0 0;
    max-width: 1vw;
}

.logo {
    position: absolute;
    left: 5%;
    top: 0;
    right: 0;
    margin: 50px 0 0 0;
    z-index: 10;
    width: 300px;
    height: auto;
}

.container-tagline {
    position: absolute;
    left: 25%;
    right: 0;
    top: 60%;
    width: 100%;
    height: auto;
    z-index: 1;
}

.vectormain {
    position: absolute;
    left: 0%;
    top: 20%;
    z-index: 100;
    -ms-transform: rotate(20deg);
    /* IE 9 */
    -webkit-transform: rotate(20deg);
    /* Safari */
    transform: rotate(20deg) scale(.4, 1.8);
    z-index: 20;
}

.menu {
    position: absolute;
    top: 0;
    left: 0%;
    color: black;
    z-index: 1;
    height: 100%;
    margin: 0 0 0 0;
}

.menu-list-container {
    background: none;
    position: absolute;
    left: 25%;
    top: 30%;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 100;
    font-family: pacifica;
    color: red;
    font-size: 27px;
    letter-spacing: 1px;
    line-height: 300%;
    text-decoration: none;
    list-style-type: none;
}

.menu-bg {
    background: white;
    opacity: 1;
    position: absolute;
    top: 0px;
    height: 100vh;
    width: 300px;
}

.menu-list {
    list-style-type: none;
}

.menu-link {
    text-decoration: none;
    color: black;
}

.video-service-container {
    position: absolute;
}

.service-container {
    position: absolute;
    top: 0%;
    left: 0%;
    margin: 0 0 0 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
}

.service-overlay {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .5;
    z-index: 1;
}

.servicebg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0px 0 0px 0px;
    min-height: 100%;
    min-width: 100%;
    width: auto;
    height: auto;
    z-index: 0;
}

.service-text-container {
    position: absolute;
    top: 40%;
    left: 30%;
    line-height: .6;
    z-index: 2;
    height: 100%;
    width: 100%;
}

.service-title {
    font-family: pacifica;
    position: relative;
    top: 0%;
    color: white;
    text-decoration: underline;
    font-size: 40px;
    background-color: blac;
}

.service-title-2 {
    font-family: pacifica;
    position: relative;
    color: white;
    font-size: 50px;
    background-color: black;
    width: 60%;
}

.service-description {
    position: relative;
    font-family: dinlight;
    color: white;
    font-size: 25px;
    font-weight: 500;
    line-height: 30px;
    text-shadow: 2px 2px 8px #000000;
}

#service-stagehands {
    display: none;
}

#service-techs {
    display: none;
}

#service-drivers {
    display: none;
}

#service-pa {
    display: none;
}

#service-runners {
    display: none;
}


/* end Video hover/click */

.service-summary {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
}

.slice {
    float: left;
    top: 0%;
    left: 0%;
    width: 20%;
    height: 100%;
    font-size: 70%;
    font-family: pacifica;
    color: white;
    background: black;
}

.service-list {
    position: relative;
    top: 80%;
    left: 10%;
    z-index: 10;
}

.service-list-2 {
    position: relative;
    top: 82%;
    left: 10%;
    z-index: 10;
}

.menubttn {
    position: fixed;
    left: 0px;
    bottom: 35px;
    z-index: 10;
}

.btn-menu {
    position: absolute;
    margin: 0 0 0 0;
    z-index: 100;
    font-family: pacifica;
    color: white;
    font-size: 25px;
    letter-spacing: 1px;
    text-decoration: none;
    background-color: black;
    padding: 5px 20px 5px 20px;
}

.lower-nav {
    margin: 0 0 0 0;
    position: fixed;
    bottom: 0px;
    right: 0;
    z-index: 10;
}

ul {
    margin: 0 0 0 0;
    height: auto;
    width: 100%;
    background-color: #204060;
    list-style: none;
    color: white;
    overflow: hidden;
    padding: 20px;
}

li {
    display: inline;
    top: 0px;
    text-align: right;
    padding: 0px 0px 0px 50px;
    font-family: dinlight;
    font-weight: 600;
    text-transform: uppercase;
}

.techbg1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    padding: 20px 20px 800px 2200px;
    min-height: 100%;
    min-width: 100%;
    width: auto;
    height: auto;
}

.techbg2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 0 0 0;
    padding: 0px 0px 00px 2300px;
    min-height: 100%;
    min-width: 100%;
    width: auto;
    height: auto;
    background-size: cover;
    background-repeat: none;
}

.techbg3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    padding: 20px 20px 800px 3900px;
    min-height: 100%;
    min-width: 100%;
    width: auto;
    height: auto;
}

.techbg4 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    padding: 20px 20px 00px 100px;
    min-height: 100%;
    min-width: 100%;
    width: auto;
    height: auto;
}

.techbg5 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    padding: 20px 20px 200px 2000px;
    min-height: 100%;
    min-width: 100%;
    width: auto;
    height: auto;
}

.service-img-container {
    overflow: hidden;
    position: absolute;
    top: 0%;
    height: 100%;
    width: 100%;
}

.hover-target {
    width: 60%;
    height: 10%;
    z-index: 15;
    margin: 0 0 0 0;
    background-color: white;
    color: white;
    position: relative;
    top: 73%;
    left: -15%;
    text-align: center;
    margin: auto;
    opacity: 0;
}

.slice-border-stagehands {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 20%;
    height: 100%;
    font-size: 70%;
    font-family: pacifica;
    color: white;
    border: 1px solid darkgray;
    z-index: 1;
    opacity: .5;
}

.slice-border-techs {
    position: absolute;
    top: 0%;
    left: 20%;
    width: 20%;
    height: 100%;
    font-size: 70%;
    font-family: pacifica;
    color: white;
    border: 1px solid darkgray;
    z-index: 1;
    opacity: .5;
}

.slice-border-drivers {
    position: absolute;
    top: 0%;
    left: 40%;
    width: 20%;
    height: 100%;
    font-size: 70%;
    font-family: pacifica;
    color: white;
    border: 1px solid darkgray;
    z-index: 1;
    opacity: .5;
}

.slice-border-pa {
    position: absolute;
    top: 0%;
    left: 60%;
    width: 20%;
    height: 100%;
    font-size: 70%;
    font-family: pacifica;
    color: white;
    border: 1px solid darkgray;
    z-index: 1;
    opacity: .5;
}

.slice-border-runners {
    position: absolute;
    top: 0%;
    left: 80%;
    width: 20%;
    height: 100%;
    font-size: 70%;
    font-family: pacifica;
    color: white;
    border: 1px solid darkgray;
    opacity: .5;
}

a {
    color: white;
    text-decoration: none;
}

.service-global-overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 2000px;
    height: 100%;
    z-index: 1;
    background-color: darkre;
    color: white;
    opacity: .4;
}

@media screen and (max-width: 1200px) {
    .lower-nav {
        margin: 0 0 0 0;
        position: fixed;
        bottom: 0px;
        right: 0;
        z-index: 10;
    }
    ul {
        margin: 0 0 0 0;
        height: auto;
        width: 100%;
        background-color: #204060;
        list-style: none;
        color: white;
        overflow: hidden;
        padding: 20px;
    }
    li {
        display: inline;
        top: 0px;
        text-align: right;
        padding: 0px 0px 0px 20px;
        font-family: dinlight;
        font-weight: 600;
        text-transform: uppercase;
        font-size: 15px;
    }
    a {
        color: white;
        text-decoration: none;
    }